.black {
  color: #231F20;
}

.white {
  color: #FFFFFF;
}

.linen {
  color: #F0D8C3;
}

.umber {
  color: #8A3324;
}

.bg-black {
  background-color: #231F20;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-linen {
  background-color: #F0D8C3;
}

.bg-umber {
  background-color: #8A3324;
}

.header, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.header nav, .footer nav {
  margin: 0px auto;
  text-align: center;
}

.header .nav-link, .footer .nav-link {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 5px 10px;
  padding: 5px;
  text-transform: uppercase;
}

.header .nav-link:hover, .footer .nav-link:hover {
  background-color: #F0D8C3;
}

.header .icon, .footer .icon {
  display: none;
  padding: 10px 11px;
  border: 2px solid #231F20;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .header, .footer {
    position: relative;
  }
  .header .icon, .footer .icon {
    display: block;
  }
  .header .headerNav, .footer .headerNav {
    display: none;
  }
  .header .headerNav.responsive, .footer .headerNav.responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    top: 38px;
    right: 80px;
    z-index: 999;
  }
  .header .nav-link, .footer .nav-link {
    padding: 5px 15px;
  }
}

@media screen and (max-width: 800px) {
  .header .headerNav.responsive, .footer .headerNav.responsive {
    top: 100px;
    right: 0px;
    width: 100%;
  }
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  height: 35px;
  margin: 0 auto;
}

.user a {
  font-family: 'Kanit', sans-serif;
}

.user a:hover {
  color: #F0D8C3;
}

.logo a {
  font-family: 'Kanit', sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding: 0 5px;
  left: 30px;
  top: 18px;
}

.logo a:hover {
  background-color: #F0D8C3;
}

footer {
  border-top: 2px solid #F0D8C3;
}

footer .footer {
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

footer .footer-navs nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  footer {
    margin-top: 50px;
  }
  footer .footer-navs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-navs nav {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    margin-top: 50px;
  }
  footer .logo {
    margin-bottom: 50px;
  }
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bandeau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px;
  background-image: url(../img/bandeau.jpg);
  background-color: #231F20;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bandeau .bandeau-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(35, 31, 32, 0.85);
  padding: 30px;
  max-width: 80%;
}

.bandeau .bandeau-presentation h1 {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #FFFFFF;
}

.bandeau .bandeau-presentation p {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  padding-top: 30px;
}

@media screen and (max-width: 1200px) {
  .bandeau {
    height: 450px;
  }
}

@media screen and (max-width: 800px) {
  .bandeau {
    height: 300px;
  }
  .bandeau .bandeau-presentation {
    max-width: 100%;
  }
  .bandeau .bandeau-presentation h1 {
    font-size: 40px;
    padding-bottom: 15px;
  }
  .bandeau .bandeau-presentation p {
    font-size: 18px;
    padding-top: 15px;
  }
}

.bandeau-artiste {
  min-height: 350px;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.bandeau-artiste img {
  width: auto;
  height: 100%;
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .bandeau-artiste {
    min-height: 550px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .bandeau-artiste img {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

article .oeuvre {
  width: 100%;
  height: auto;
}

article .oeuvre img {
  width: 100%;
  display: block;
}

article .oeuvre-info {
  padding-top: 15px;
}

article .oeuvre-titre {
  margin-bottom: 15px;
}

article .oeuvre-artiste {
  font-weight: 400;
  font-size: 18px;
}

article .oeuvre-tech {
  font-style: italic;
  font-weight: 300;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F0D8C3;
  margin-bottom: 15px;
}

.comment .comment-auteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  padding: 15px;
}

.comment .comment-auteur .avatar-mini {
  width: 100px;
  height: 100px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.comment .comment-auteur .avatar-mini img {
  width: 100%;
  height: 100%;
  display: block;
}

.comment .comment-auteur .name {
  margin-bottom: 10px;
}

.comment .comment-auteur .comment-date {
  font-style: italic;
  font-weight: 300;
}

.comment .comment-content {
  width: 75%;
  padding: 15px;
}

@media screen and (max-width: 1200px) {
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment .comment-auteur {
    width: 100%;
  }
  .comment .comment-content {
    width: 100%;
  }
}

.form, .form-comment, .form-galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form label, .form-comment label, .form-galerie label {
  margin-bottom: 5px;
}

.form input, .form-comment input, .form-galerie input {
  margin-bottom: 15px;
}

.form input:active, .form-comment input:active, .form-galerie input:active {
  color: #8A3324;
}

.form textarea, .form-comment textarea, .form-galerie textarea {
  border: 1px solid #8A3324;
  border-radius: 7px 7px 0 7px;
  -webkit-box-shadow: 5px 5px 0px #F0D8C3;
          box-shadow: 5px 5px 0px #F0D8C3;
  padding: 15px;
  margin-bottom: 15px;
}

.form textarea:focus, .form-comment textarea:focus, .form-galerie textarea:focus {
  outline: 2px solid #8A3324;
}

.form-galerie {
  border: 2px solid #F0D8C3;
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 30px;
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  .form-galerie {
    display: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .form-galerie.filter {
    display: block;
  }
}

.button, #filter-btn, main .pagination .page {
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #F0D8C3;
  border-radius: 5px;
}

.button:hover, #filter-btn:hover, main .pagination .page:hover {
  color: #FFFFFF;
  background-color: #8A3324;
  border: 1px solid #8A3324;
}

#filter-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  #filter-btn {
    display: block;
    margin-bottom: 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #231F20;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px auto;
}

h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 30px auto;
}

h3, .comment .comment-auteur .name {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main section {
  padding: 50px 30px;
}

@media screen and (max-width: 1200px) {
  main section {
    padding-bottom: 0;
  }
}

main .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  grid-auto-rows: 10px;
  margin-top: 50px;
}

main .breadcrumb {
  padding: 5px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  background-color: #231f20b7;
}

main .breadcrumb a {
  color: #FFFFFF;
  font-style: italic;
}

main .breadcrumb a:hover {
  color: #F0D8C3;
}

main .artiste-present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #F0D8C3;
  margin: 50px 30px 0 30px;
  padding: 0;
}

main .artiste-present .avatar {
  position: absolute;
  width: 240px;
  height: 240px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  top: -50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}

main .artiste-present .avatar img {
  width: 100%;
  height: 100%;
  display: block;
}

main .artiste-present .artiste-info {
  position: relative;
  width: 33%;
  text-align: center;
  padding: 50px 30px;
}

main .artiste-present .artiste-bio {
  text-align: left;
  width: 66%;
  border-left: 2px solid #F0D8C3;
  padding: 50px 30px;
}

@media screen and (max-width: 1200px) {
  main .artiste-present {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 30px 0 30px;
  }
  main .artiste-present h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  main .artiste-present .artiste-bio {
    width: 100%;
    border-top: 2px solid #F0D8C3;
    border-left: none;
    padding: 30px;
    margin-top: 30px;
  }
  main .artiste-present .artiste-info {
    width: 100%;
    text-align: center;
    padding: 50px 30px;
  }
  main .artiste-present .avatar {
    top: -70%;
  }
}

@media screen and (max-width: 1200px) and (max-width: 800px) {
  main .artiste-present {
    margin: 50px 5px 0 5px;
  }
  main .artiste-present h1 {
    width: 80%;
  }
}

main .oeuvre-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .oeuvre-container .oeuvre-present {
  width: 33%;
  padding-left: 30px;
}

main .oeuvre-container .oeuvre-present h1, main .oeuvre-container .oeuvre-present h2 {
  text-align: left;
}

main .oeuvre-container .oeuvre-present h2 {
  margin-bottom: 0;
}

main .oeuvre-container .oeuvre-present h3, main .oeuvre-container .oeuvre-present .comment .comment-auteur .name, .comment .comment-auteur main .oeuvre-container .oeuvre-present .name {
  margin-bottom: 50px;
}

main .oeuvre-container .oeuvre-present .oeuvre-texte {
  padding-bottom: 50px;
  border-bottom: 2px solid #F0D8C3;
}

main .oeuvre-container .oeuvre-img {
  width: 66%;
}

main .oeuvre-container .oeuvre-img img {
  display: block;
  max-width: 100%;
  max-height: 650px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  main .oeuvre-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .oeuvre-container .oeuvre-present {
    width: 100%;
    padding-left: 0;
  }
  main .oeuvre-container .oeuvre-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  main .oeuvre-container .oeuvre-img img {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    margin: 0;
  }
}

main .galerie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .galerie-list .grid {
  width: 75%;
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  main .galerie-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .galerie-list .grid {
    width: 100%;
  }
}

main .pagination {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

main .pagination .page {
  text-align: center;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
}
/*# sourceMappingURL=style.css.map */