.bandeau {
    @include flex-center;
    height: 550px;
    background-image: url(../img/bandeau.jpg);
    background-color:$black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .bandeau-presentation {
        @include flex-center;

        flex-direction: column;
        background: rgba(35, 31, 32, 0.85);
        padding: 30px;
        max-width: 80%;


        h1 {
            font-family: 'Kanit', sans-serif; 
            text-transform: uppercase;
            text-align: center;
            font-size: 48px;
            font-weight: 600; 
            padding-bottom: 30px;
            width: fit-content;
            border-bottom: 2px solid $white;
        }
    
        p {
            text-align: center;
            font-family: 'Kanit', sans-serif;
            font-size: 24px;
            padding-top: 30px;
        }
    }
    
    @include tablette {
        height: 450px;
    }

    @include mobile {
        height: 300px;
        .bandeau-presentation {
            max-width: 100%;

            h1 {
                font-size: 40px;
                padding-bottom: 15px; 
            }
            p {
                font-size: 18px;
                padding-top: 15px;
            }
        }
    }
}

.bandeau-artiste {
    min-height: 350px;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    
    img {
        width: auto;
        height: 100%;
        display: block;
        max-width: 100%;
    }

    @include mobile {
       min-height: 550px; 
       min-width: max-content;
        
       img {
           height: auto;
           width: max-content;
       }
    }
}