footer {
    border-top: 2px solid $linen;

    .footer {
        height: auto;
        align-items: flex-start;
    }
    .footer-navs {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;

        nav {
            display: flex;
            flex-direction: column;
        }
    }

    @include tablette {
        margin-top: 50px;
        .footer-navs {
            flex-direction: column;

            nav {
                margin-bottom: 30px;
            };
        }
    }
    @include mobile {
        margin-top: 50px;
        .logo {
            margin-bottom: 50px;
        }

        .footer {
            flex-direction: column;
            align-items: center;
        }
    }
}