.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;

    nav {
        margin: 0px auto;
        text-align: center;
    }
    


    .nav-link {
        font-family: 'Kanit', sans-serif; 
        font-size: 18px; 
        font-weight: 400; 
        margin: 5px 10px; 
        padding: 5px;
        text-transform: uppercase;

        &:hover {
            background-color: $linen;
        }
    }

    .icon {
        display: none;
        padding: 10px 11px; 
        border: 2px solid $black;
        border-radius: 5px;
 
    }

    @include tablette {
        position: relative;

        .icon {
            display: block;
        }

        .headerNav {
            display: none;
        } 

        .headerNav.responsive {
            display: flex;
            flex-direction: column;
            background-color: $white;
            position: absolute;
            top: 38px;
            right: 80px;
            z-index: 999;
        }

        .nav-link {
            padding: 5px 15px
        }
    }

    @include mobile {
        .headerNav.responsive {
            top: 100px;
            right: 0px;
            width: 100%;
        }
    }

}
.user {
    @include flex-center;
    max-width: 1440px;
    height: 35px;
    margin: 0 auto;

    a {
        font-family: 'Kanit', sans-serif; 
        &:hover {
            color: $linen;
        }
    }
}

.logo a{
    // position: absolute;
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
    font-weight: 600; 
    padding: 0 5px;
    left: 30px;
    top: 18px;
   
    

    &:hover {
        background-color: $linen;
    }
}